

<div class="container">
  <form role="form" (submit)="resetPassword()">
    <div class="form-group">
      <label for="name">Password:</label> <input type="text"
                                             class="form-control" id="password" name="password" [(ngModel)]="password"  placeholder="PASSWORD"/>
    </div>
    <div class="form-group">
      <label for="password">Confirm Password:</label> <input type="password"
                                                     class="form-control" id="confirmpassword" name="password" [(ngModel)]="password" placeholder="PASSWORD"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
